[Unit]
Description=Apache Zookeeper
Requires=network.target
After=network.target

[Service]
Type=simple
SuccessExitStatus=1
ExecStart=/opt/kafka/bin/zookeeper-server-start.sh /opt/kafka/config/zookeeper.properties
ExecStop=/opt/kafka/bin/zookeeper-server-stop.sh
User=kafka
Group=kafka

[Install]
WantedBy=default.target